/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    border: dashed blue 1px
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }





  .left-side {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: white;
    background-image: url(assets/halie.jpg);


    width: 35%;

  }


  .right-side {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: lightgrey;


    width: 65%;
  }

  .logo-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0 0 0 / 30%)
  }


  .left-side > footer {
    display: flex;
    justify-content: center;

  }


  .logo-img {
    max-width:100px;
    max-height:100px;
  }

  button {
    background-color: #596D48;
  }

  .form-div {
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: white;

  }


  .first-p {
    display: flex;
    flex: auto;
  }

  .second-p {
    display: flex;
    flex: auto;
  }

  .bottom-p {
    display: flex;
    flex: auto;
  }

  .right-side > * {
    width: 100%;
  }

